.education-heading {
  font-size: 56px;
  font-weight: 400;
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 2rem;
}

.education-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1rem;
}

.education-image-div {
  flex: 1;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-card-container {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .education-main-div {
    flex-direction: column;
    gap: 2rem;
  }
  .education-image-div {
    max-width: 360px;
    margin: 0 auto;
  }
  .education-heading {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-heading {
    font-size: 30px;
    text-align: center;
  }
  .education-image-div {
    max-width: 280px;
  }
}
